In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
socio_data = pd.read_csv("us_county_sociohealth_data.csv")

In [3]:
ed_data = pd.read_csv("education.csv")

In [4]:
socio_df = pd.DataFrame(socio_data)

In [5]:
ed_df = pd.DataFrame(ed_data)

In [6]:
socio_df

,fips,state,county,lat,lon,total_population,area_sqmi,population_density_per_sqmi,num_deaths,years_of_potential_life_lost_rate,...,percentile_rank_minorities,percentile_rank_limited_english_abilities,percentile_rank_minority_status_and_language_theme,percentile_rank_multi_unit_housing,percentile_rank_mobile_homes,percentile_rank_overcrowding,percentile_rank_no_vehicle,percentile_rank_institutionalized_in_group_quarters,percentile_rank_housing_and_transportation,percentile_rank_social_vulnerability
0,01001,Alabama,Autauga,32.534928,-86.642748,55049,594.446120,92.605533,791.0,8128.591190,...,0.633900,0.535500,0.597600,0.679100,0.726800,0.247700,0.329800,0.125100,0.288100,0.377300
1,01003,Alabama,Baldwin,30.727489,-87.722575,199510,1589.807425,125.493187,2967.0,7354.122530,...,0.525300,0.528200,0.529400,0.973300,0.538700,0.263900,0.087200,0.343800,0.332400,0.275700
2,01005,Alabama,Barbour,31.869589,-85.393213,26614,884.875776,30.076538,472.0,10253.573403,...,0.904200,0.697900,0.855800,0.281400,0.937000,0.443800,0.881600,0.942700,0.931200,0.984700
3,01007,Alabama,Bibb,32.998634,-87.126480,22572,622.582355,36.255444,471.0,11977.539484,...,0.645000,0.355300,0.501800,0.407200,0.924900,0.024800,0.564500,0.915600,0.666300,0.573700
4,01009,Alabama,Blount,33.980878,-86.567383,57704,644.806508,89.490412,1085.0,11335.071134,...,0.423800,0.748200,0.599200,0.134400,0.846500,0.505600,0.190700,0.151500,0.182700,0.498600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,56041,Wyoming,Uinta,41.287648,-110.547639,20893,2081.827988,10.035892,256.0,7330.683549,...,0.421200,0.662500,0.547600,0.770500,0.875800,0.829000,0.126100,0.215900,0.656200,0.535200
3140,56043,Wyoming,Washakie,43.904970,-107.682819,8351,2238.550443,3.730539,110.0,6586.049959,...,0.536100,0.464200,0.502100,0.346400,0.511600,0.583900,0.580100,0.537400,0.514200,0.592800
3141,56045,Wyoming,Weston,43.840417,-104.567663,7175,2398.090296,2.991964,89.0,5388.706947,...,0.288800,0.620200,0.442500,0.552100,0.861800,0.177000,0.381400,0.807700,0.633900,0.271600
3142,KSC,Missouri,Kansas City,39.130000,-94.550000,1113072,2118.989867,525.284248,14267.0,7770.929831,...,0.675575,0.669271,0.705512,0.879288,0.055045,0.358059,0.613377,0.329812,0.384675,0.392899
3143,NYC,New York,New York City,40.660000,-73.940000,8461961,301.462725,28069.675983,71504.0,4692.206193,...,0.945408,0.981192,0.979111,0.992835,0.004499,0.972433,0.997591,0.450722,0.903038,0.724114

In [7]:
ed_df

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"1,062,306","468,269","136,287",...,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,7.0,12.0,7.0,12.0,NaN,NaN,NaN,...,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,2.0,NaN,NaN,NaN,...,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,3.0,2.0,2.0,2.0,NaN,NaN,NaN,...,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [8]:
ed_df = ed_df[["FIPS Code", "State", "Area name", "Percent of adults completing some college or associate's degree, 2000", "Percent of adults with a bachelor's degree or higher, 2000", "Less than a high school diploma, 2015-19", "High school diploma only, 2015-19", "Some college or associate's degree, 2015-19", "Bachelor's degree or higher, 2015-19", "Percent of adults with less than a high school diploma, 2015-19", "Percent of adults with a high school diploma only, 2015-19", "Percent of adults completing some college or associate's degree, 2015-19", "Percent of adults with a bachelor's degree or higher, 2015-19"]]

In [9]:
ed_df

,FIPS Code,State,Area name,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [10]:
ed_df = ed_df.rename(columns={"FIPS Code": "fips"})
ed_df = ed_df.rename(columns={"State": "state"})
ed_df = ed_df.rename(columns={"Area name": "county"})
ed_df = ed_df.rename(columns={"Percent of adults completing some college or associate's degree, 2000": "some_college_or_associates_2000"})
ed_df = ed_df.rename(columns={"Percent of adults with a bachelor's degree or higher, 2000": "bachelors_or_higher_2000"})
ed_df = ed_df.rename(columns={"Less than a high school diploma, 2015-19": "less_than_highschool_2015_19"})
ed_df = ed_df.rename(columns={"High school diploma only, 2015-19": "highschool_only_2015_19"})
ed_df = ed_df.rename(columns={"Some college or associate's degree, 2015-19": "some_college_or_associates_2015_19"})
ed_df = ed_df.rename(columns={"Bachelor's degree or higher, 2015-19": "bachelors_or_higher_2015_19"})
ed_df = ed_df.rename(columns={"Percent of adults with less than a high school diploma, 2015-19": "percent_less_than_highschool_2015_19"})
ed_df = ed_df.rename(columns={"Percent of adults with a high school diploma only, 2015-19": "percent_highschool_only_2015_19"})
ed_df = ed_df.rename(columns={"Percent of adults completing some college or associate's degree, 2015-19": "percent_some_college_or_associates_2015_19"})
ed_df = ed_df.rename(columns={"Percent of adults with a bachelor's degree or higher, 2015-19": "percent_bachelors_or_higher_2015_19"})

In [11]:
ed_df

,fips,state,county,some_college_or_associates_2000,bachelors_or_higher_2000,less_than_highschool_2015_19,highschool_only_2015_19,some_college_or_associates_2015_19,bachelors_or_higher_2015_19,percent_less_than_highschool_2015_19,percent_highschool_only_2015_19,percent_some_college_or_associates_2015_19,percent_bachelors_or_higher_2015_19
0,0,US,United States,27.4,24.4,"26,472,261","59,472,748","63,756,905","70,920,162",12.0,27.0,28.9,32.1
1,1000,AL,Alabama,25.9,19.0,"458,922","1,022,839","993,344","845,772",13.8,30.8,29.9,25.5
2,1001,AL,Autauga County,26.9,18.0,"4,291","12,551","10,596","9,929",11.5,33.6,28.4,26.6
3,1003,AL,Baldwin County,29.3,23.1,"13,893","41,797","47,274","48,148",9.2,27.7,31.3,31.9
4,1005,AL,Barbour County,21.3,10.9,"4,812","6,396","4,676","2,080",26.8,35.6,26.0,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,21.4,14.4,"10,494","9,681","8,905","7,834",28.4,26.2,24.1,21.2
3279,72147,PR,Vieques Municipio,13.7,10.1,"1,792","2,440",875,"1,121",28.8,39.2,14.0,18.0
3280,72149,PR,Villalba Municipio,18.0,12.8,"3,330","5,809","2,987","3,015",22.0,38.4,19.7,19.9
3281,72151,PR,Yabucoa Municipio,18.3,12.1,"6,927","6,132","6,494","4,293",29.0,25.7,27.2,18.0
3282,72153,PR,Yauco Municipio,17.8,15.8,"6,794","8,512","3,973","6,304",26.6,33.3,15.5,24.6

In [13]:
ed_df.dtypes

fips                                            int64
state                                          object
county                                         object
some_college_or_associates_2000               float64
bachelors_or_higher_2000                      float64
less_than_highschool_2015_19                   object
highschool_only_2015_19                        object
some_college_or_associates_2015_19             object
bachelors_or_higher_2015_19                    object
percent_less_than_highschool_2015_19          float64
percent_highschool_only_2015_19               float64
percent_some_college_or_associates_2015_19    float64
percent_bachelors_or_higher_2015_19           float64
dtype: object

In [12]:
ed_df.to_csv("edu_df.csv", index=False)

In [6]:
socio_df_loc = socio_df[["fips", "state", "county", "lat", "lon", "total_population", "area_sqmi", "population_density_per_sqmi"]]

In [12]:
socio_df_death = socio_df[["fips", "state", "county", "num_deaths"]]

In [17]:
socio_df_dependents = socio_df[["fips", "state", "county", "percentile_rank_minorities", "percentile_rank_limited_english_abilities", "percentile_rank_multi_unit_housing", "percentile_rank_mobile_homes", "percentile_rank_overcrowding", "percentile_rank_no_vehicle", "percentile_rank_institutionalized_in_group_quarters", "percentile_rank_housing_and_transportation", "percentile_rank_social_vulnerability"]]

In [17]:
data1 = pd.read_csv("socio_health_dependents.csv")
data2 = pd.read_csv("edu_df.csv")
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [26]:
df2["fips"].dtypes

dtype('int64')

In [27]:
df2['fips'] = df2['fips'].astype(object)

In [28]:
df_merge = df1.merge(df2, on="fips", how="left")

In [30]:
df_merge.to_csv("df_merge.csv", index=False)

In [19]:
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_minorities": "minority_percentage"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_limited_english_abilities": "limited_english"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_multi_unit_housing": "multi_unit_housing"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_mobile_homes": "mobile_homes"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_overcrowding": "overcrowding_rank"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_no_vehicle": "no_vehicle_household"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_institutionalized_in_group_quarters": "institutionalized_ranker"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_housing_and_transportation": "housing_and_transportation"})
socio_df_dependents = socio_df_dependents.rename(columns={"percentile_rank_social_vulnerability": "social_vulnerability"})

In [20]:
socio_df_dependents.dtypes

fips                           object
state                          object
county                         object
minority_percentage           float64
limited_english               float64
multi_unit_housing            float64
mobile_homes                  float64
overcrowding_rank             float64
no_vehicle_household          float64
institutionalized_ranker      float64
housing_and_transportation    float64
social_vulnerability          float64
dtype: object

In [22]:
socio_df_dependents.to_csv("socio_health_dependents.csv", index=False)

In [13]:
socio_df_death = socio_df_death.rename(columns={"num_deaths": "number_of_deaths"})

In [14]:
socio_df_death.dtypes

fips                 object
state                object
county               object
number_of_deaths    float64
dtype: object

In [15]:
socio_df_death

       fips     state         county  number_of_deaths
0     01001   Alabama        Autauga             791.0
1     01003   Alabama        Baldwin            2967.0
2     01005   Alabama        Barbour             472.0
3     01007   Alabama           Bibb             471.0
4     01009   Alabama         Blount            1085.0
...     ...       ...            ...               ...
3139  56041   Wyoming          Uinta             256.0
3140  56043   Wyoming       Washakie             110.0
3141  56045   Wyoming         Weston              89.0
3142    KSC  Missouri    Kansas City           14267.0
3143    NYC  New York  New York City           71504.0

[3144 rows x 4 columns]

In [16]:
socio_df_death.to_csv("socio_health_deaths.csv", index=False)

In [7]:
socio_df_loc

,fips,state,county,lat,lon,total_population,area_sqmi,population_density_per_sqmi
0,01001,Alabama,Autauga,32.534928,-86.642748,55049,594.446120,92.605533
1,01003,Alabama,Baldwin,30.727489,-87.722575,199510,1589.807425,125.493187
2,01005,Alabama,Barbour,31.869589,-85.393213,26614,884.875776,30.076538
3,01007,Alabama,Bibb,32.998634,-87.126480,22572,622.582355,36.255444
4,01009,Alabama,Blount,33.980878,-86.567383,57704,644.806508,89.490412
...,...,...,...,...,...,...,...,...
3139,56041,Wyoming,Uinta,41.287648,-110.547639,20893,2081.827988,10.035892
3140,56043,Wyoming,Washakie,43.904970,-107.682819,8351,2238.550443,3.730539
3141,56045,Wyoming,Weston,43.840417,-104.567663,7175,2398.090296,2.991964
3142,KSC,Missouri,Kansas City,39.130000,-94.550000,1113072,2118.989867,525.284248
3143,NYC,New York,New York City,40.660000,-73.940000,8461961,301.462725,28069.675983

In [8]:
socio_df_loc = socio_df_loc.rename(columns={"lat": "latitude"})
socio_df_loc = socio_df_loc.rename(columns={"lon": "longitude"})
socio_df_loc = socio_df_loc.rename(columns={"area_sqmi": "area_per_square_mile"})
socio_df_loc = socio_df_loc.rename(columns={"population_density_per_sqmi": "population_density_per_square_mile"})

In [9]:
socio_df_loc

,fips,state,county,latitude,longitude,total_population,area_per_square_mile,population_density_per_square_mile
0,01001,Alabama,Autauga,32.534928,-86.642748,55049,594.446120,92.605533
1,01003,Alabama,Baldwin,30.727489,-87.722575,199510,1589.807425,125.493187
2,01005,Alabama,Barbour,31.869589,-85.393213,26614,884.875776,30.076538
3,01007,Alabama,Bibb,32.998634,-87.126480,22572,622.582355,36.255444
4,01009,Alabama,Blount,33.980878,-86.567383,57704,644.806508,89.490412
...,...,...,...,...,...,...,...,...
3139,56041,Wyoming,Uinta,41.287648,-110.547639,20893,2081.827988,10.035892
3140,56043,Wyoming,Washakie,43.904970,-107.682819,8351,2238.550443,3.730539
3141,56045,Wyoming,Weston,43.840417,-104.567663,7175,2398.090296,2.991964
3142,KSC,Missouri,Kansas City,39.130000,-94.550000,1113072,2118.989867,525.284248
3143,NYC,New York,New York City,40.660000,-73.940000,8461961,301.462725,28069.675983

In [11]:
socio_df_loc.to_csv("socio_health_locations.csv", index=False)

In [10]:
socio_df_loc.dtypes

fips                                   object
state                                  object
county                                 object
latitude                              float64
longitude                             float64
total_population                        int64
area_per_square_mile                  float64
population_density_per_square_mile    float64
dtype: object